*, *::after, *::before {
    box-sizing: border-box;
}
body {
    margin: 0px;
    min-height: 100vh;
    max-width: 100vw;
    background-color: black;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    line-height: 1.5;
}
input,
select,
textarea,
button {
    font-family: inherit;
}
button {
    color: inherit;
}
img, picture {
    max-width: 100%;
    display: block
}


/* utilities */
.uppercase {
    text-transform: uppercase;
}
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}
.container {
    max-width: 60rem;
    /* inline is the same as saying x values padding: 0 2em; */
    padding-inline: 2em;
    margin-inline: auto;
}
.flow > * + *{
    margin-top: 1rem;
}
.letter-spacing-1 {
    letter-spacing: 4px;
}
.text-white {
    color: white;
}
/*  */

.large-button {
    display: grid;
    place-items: center;
    padding: 0 2em;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 1;
    background-color: grey;
    position: relative;
}
/* Giving a z-index to the element that contains ::after gives it a base level */
.large-button::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: inherit;
    z-index: -1;
    /* HSL Angle of the color circle Saturation(100% normal) Lightness(50% normal, 0% black, 100% white) optional alpha */
    background-color: hsl(230 100% 50% / .15);
    position: absolute;
    transition: transform ease-in-out 500ms, opacity linear 750ms;
    opacity: 0;
}
.large-button:hover::after, .large-button:focus::after {
    /* Use scale, translate, rotate instead of height and width. Less cpu intensive and they don't cause redraws or alter the flow of page */
    opacity: 1;
    transform: scale(1.5);
}
.primary-navigation {
    list-style: none;
}
.primary-navigation a {
    color: white;
    text-decoration: none;
}
.primary-navigation span {
    font-weight: 700;
    color: darkgrey;
    margin-right: .5em;
}
.underline-indicators > * {
    padding: var(--padding-y, 1em) 0;
    /* He puts a border-bottom here as well but with alpha 0. Not sure if that's to maintain the same total height of element on hover etc or why */
    border: 0;
    border-bottom: 1px solid hsl(230 50% 100% / 0);
}
.underline-indicators > *:hover {
    /* border-bottom: 1px solid hsl(230, 100%, 0% / .5); */
    border-bottom: 1px solid rgba(255,255,255, 0.5);
}
/* Prefers to select > * all direct descendants instead of li so it's more reusable */
.underline-indicators .underline-indicators-active  {
    /* Also prefers puttin padding top and bottom rathen than just bottom */
    border-bottom: 1px solid white;
}
.navigation-button {
    background: none;
}
.navigation-button[aria-selected='true']{
    border-bottom: 1px solid white;
}
.dot-indicators > button{
    cursor: pointer;
    border: none;
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(230 50% 100% / 0.2);
}
.dot-indicators > button:hover, 
/* When you modify something on hover modify the focused state as well! */
.dot-indicators > button:focus {
    background-color: hsl(230 50% 100% / 0.5);
}
.dot-indicators > button[aria-selected='true'] {
    background-color: white;
}
.numbered-buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.numbered-buttons > * {
    aspect-ratio: 1;
    border-radius: 50%;
    width: 4rem;
    cursor: pointer;
    background:none;
    border: 1px solid hsl(230 50% 100% / .5);
}
.numbered-buttons > *:hover,
.numbered-buttons > *:focus {
    border: 1px solid white;
}
.numbered-buttons > *[aria-selected='true']{
    background-color: white;
    color: black
}